
/* 
    Created on : 2015-okt-17, 07:35:01
    Author     : urbvik
*/
html{
    background: #040300;
}

body {
  color: #222;
  font-family: 'Open Sans',arial, sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

#wrapper{
  background-image: url('../img/backdrop.jpg');
  background-size: 110%;
  overflow:hidden;
  background-repeat: repeat-x;
  background-color:#040300;
  position:relative;
}

/*
styles for header part of page
*/
#header{color: #FFA12C; font-size: 2em; margin-top: 15px;}
#header img{ height: 85px; margin-left: 20px; margin-right: 8px;  float: left;}
#header #text{ padding-top: 8px; letter-spacing: -2px;}
#header #text span{ font-weight: bold; color: #FAF7E3;}
#header #subtitle{ font-size: 14px; color:#C7D1CE; line-height: 9px;}







 /*
 Styles for dynamic navigation dropdown menu
 */
#nav{ font-family: arial,sans-serif; font-size:0.8em; 
      font-weight:300;  background: #000; border-bottom:1px solid #373530;
      border-top:1px solid #556368;
}
#nav a{text-decoration: none;  color:#DAA769}
#nav ul{list-style-type: none; margin:0; padding: 0;}
#nav>ul>li{display: inline-block;  padding: 6px 0px; }
#nav>ul>li>a{padding: 6px 12px; font-size: 1.2em; border-left:2px solid #111; }
#nav>ul>li>ul{background: #000; position: absolute; margin-top: 5px; margin-left:1px;  z-index:9999; border: 1px solid #222;}
#nav>ul>li>ul>li{position: relative;}
#nav>ul>li>ul>li>a{display:block; width: 120px; padding: 6px 12px;}
#nav>ul>li>ul>li>ul{position: absolute; margin-top:-1px; margin-left:144px; top:0; white-space: nowrap; background:#000; border: 1px solid #222;}
#nav>ul>li>ul>li>ul>li>a{display: block; width:160px; padding: 6px 12px;}

/*hide and show*/
#nav>ul>li>ul{display: none;}
#nav>ul>li>ul>li>ul{display: none;}
#nav a:hover{ background: #FFA12C; color: black;}
#nav a:active{ color:#888;}
#nav li:hover>ul{display: block;}

.activeNav>a{text-decoration: underline;}


/*
main content
*/

#main{
    border-top: 1px solid rgba(55, 53, 48, 0.47);
    position: relative;
    margin-top: 40px;
    min-height:660px;
    background-color: rgba(0,0,0,0.85);
    padding:20px;
    color: #eee;
}

#main h1{
    margin-top: 0;
    color: #FAF7E3;
}

/*
footer styles
*/
#footer
{
    padding: 10px 25px;
    background: #040300;
    color: #AE916E;
    font-size: 10px;
    min-height: 40px;
    border-top: 1px solid #222;
}

#footer footer a{
     color: #FBA030;
     text-decoration: none;
}

/*
place element to left
*/
.left{
    float: left;
    margin-right: 30px;
}

/*
styling for tables
*/
.table  
{ 
        width: 100%; 
        border-collapse: collapse; 
        margin-bottom: 50px;
        color: #A59B8E;
        background: #12100E;
}

.table>tbody>tr>td>a{
    color:#C38F4E;
    text-decoration: none;
}
/* Zebra striping */
.table tr:nth-of-type(odd) { 
        background: #22201F; 
}
.table th { 
       
        color: #000; 
        font-weight: bold;
 
        background: rgba(100,56,17,1);
background: -moz-linear-gradient(top, rgba(100,56,17,1) 0%, rgba(201,133,60,1) 52%, rgba(181,134,53,1) 59%, rgba(100,56,17,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(100,56,17,1)), color-stop(52%, rgba(201,133,60,1)), color-stop(59%, rgba(181,134,53,1)), color-stop(100%, rgba(100,56,17,1)));
background: -webkit-linear-gradient(top, rgba(100,56,17,1) 0%, rgba(201,133,60,1) 52%, rgba(181,134,53,1) 59%, rgba(100,56,17,1) 100%);
background: -o-linear-gradient(top, rgba(100,56,17,1) 0%, rgba(201,133,60,1) 52%, rgba(181,134,53,1) 59%, rgba(100,56,17,1) 100%);
background: -ms-linear-gradient(top, rgba(100,56,17,1) 0%, rgba(201,133,60,1) 52%, rgba(181,134,53,1) 59%, rgba(100,56,17,1) 100%);
background: linear-gradient(to bottom, rgba(100,56,17,1) 0%, rgba(201,133,60,1) 52%, rgba(181,134,53,1) 59%, rgba(100,56,17,1) 100%);
}

/*color price*/
.table td:nth-of-type(5)
{
    color:#CFB18C;
}

/*hilight row */
.table tr:hover{
    background: #383431;
    cursor:pointer;
}
.table td, th { 
        padding: 6px; 
        border: 1px solid #5B4830; 
        text-align: left; 
}


/*
Styling for buttons
*/
input[type="submit"], .aButton
{
    background: #333;
    color: #ccc;
    border: 1px solid #222;
    border-radius: 2px;
    padding: 3px 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}
input[type="submit"]:hover, .aButton:hover
{
    background: #BE6B03;
    color: black;
}
input[type="submit"]:active, .aButton:active
{
    color:#888;
}

.blueButton{
    background: #001017;
    color: #B3BDBA;
    border-radius: 2px;
    padding: 3px 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

.blueButton:hover
{
    background: #021C29;
   
}
.blueButton:active
{
    color:#888;
}


/*
sort buttons
*/
.sortButton
{
    background: #444;
    color: white;
    border: 1px solid #222;
    border-radius: 2px;
    padding: 3px 5px;
    text-decoration: none;
    font-size: 10px;
    font-weight: 400;
    margin-right: 3px;
}
.sortButton:hover
{
    background: #BE6B03;
    color: black;
}
.sortButton:active
{
    color:#888;
}

/*
paginationhits 
*/
#paginationhits{
  position: absolute;
    top: 18px;
    right: 20px;
    color: #C7D1CE;
}

/* search panel */
.searchpanel
{
   padding:10px; 
   border: 1px solid #aaa; 
   background: rgba(43, 47, 49, 0.52);
   border-radius: 3px; 
   margin-bottom:8px;
 }
 
 .postNavigationButtons{
     margin: 20px;
     position: absolute; 
     bottom:0px; 
     width:100%; 
     text-align: center;
 }
 
 #login,#login p,#login h1,#login h2{
     margin:0;
     margin-bottom:0px;
 }
 
 #login input[type='submit']{
    border: 1px solid #556368;
    color: #CED8D4;
    background: #00090D;
 }
 #login input[type='submit']:hover{
     cursor:pointer;
     background: #012332;
 }
 
 #login{
    padding:20px;
    z-index:20;
    transition-property: all;
    transition-duration: 700ms;
    transition-timing-function: cubic-bezier(.1,0.1,.1,0.9);  
    background: #010E14;
    color: #DEF3EE;
 }
 
 
 
 #logininfo{
     right: 30px;
     z-index: 10;

     position: absolute;
     cursor: pointer;
     border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    color: #CED8D4;
    background: #010E14;
    padding: 2px 10px;
    
    border-bottom: 1px solid #556368;
    border-left: 1px solid #556368;
    border-right: 1px solid #556368;
    
 }
 
 
 .closed{
     padding:0 !important;
     max-height: 1px;
 }
 
 #logininfo i { 
    color: #FCF3E8;
    -webkit-transition:all 300ms ease-in 0s;
    -moz-transition: all 300ms ease-in 0s;
    -o-transition: all 300ms ease-in 0s;
  transition: all 300ms ease-in 0s;
 }
 
 .rotated i{
      -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
 }
 
 .movieinfo{
     width: 100%;
     padding: 20px 0;
 }
 
 .trailer{position: relative; height: 800px; margin-bottom: 20px;}
 .trailer iframe{
    position: absolute;
    width: 100%;
    height: 800px;
 }
 
 .movietitle{
     position: absolute;
     background: black;
     width: 100%;
     padding-bottom: 14px;
 }
 .movieplot{padding-bottom: 10px;}
 .movieimages{margin-bottom: 30px; text-align: center;}
 .movieyear{ font-size: 0.8em; font-weight: normal; display: inline-block; 
            padding-left: 5px; letter-spacing: -1px; color: #6D6D6D;}


 .movieimages img{ 
     display: inline-block;
 }
 
 #movie h2{
     font-size: 1em;
     margin-bottom: 0px;
 }
 

 #movieinfoformrow1,#movieinfoformrow3 { width: 98.4%;}
 #movieinfoformrow1 div{ display:inline-block;width: 22%; margin-right: 3%;}
 #movieinfoformrow3 div{ display:inline-block;width: 11.33%; margin-right: 3%;}
 #movieinfoformrow1 div:last-of-type{ margin:0;}
 #movieinfoformrow3 div:last-of-type{ margin:0;}
 #movieinfoformrow1 div input{ width:100%;}
 #movieinfoformrow3 div select{ width:100%;}
 #movieinfoformrow3 div input{ width:100%;}
 #movieinfoform textarea{ width: 96%; margin:0 auto; height: 300px;}
 
 .chtoggle{
     background: #111;
     border: 1px solid #444;
     border-radius: 3px;
     padding: 3px 7px 3px 3px;
 }
 .chtoggle:hover{ cursor:pointer;}
 .chtogglebox{display:inline-block; width:10px; height:10px; background: #000; 
             border: 1px solid #333; border-radius:3px; margin:0 5px;}
 .chtoggle input{ display: none;}
 .chtoggle input:checked + .chtogglebox{background: #C5791B;}

.checkedbox{ background: #222; }


#fileUploadForm{
    border-top: 1px solid white;
    margin-top: 10px;
    text-align: center;
    padding-top: 30px;
}

#saveMovies2ImagesDiv input:hover{
    cursor:pointer;
    background: rgb(250, 161, 48);
}
#saveMovies2ImagesDiv input:active{
    background: #F7C688;
}
#saveMovies2ImagesDiv input, #gotoConnectImage2Movie
{
    background: #BE6B03;
    color:black;
}

#saveMovies2ImagesDiv{
    padding:0; 
    margin: 20px 0;
    height:26px; 
    overflow: hidden;
}

.uppdateNavigationButtons{ height:26px; overflow: hidden;}
.uppdateNavigationButtons *{
   height: 30px;
}

/*
*CSS for blogg-page
*/

.blogpost{
    border:1px solid #5B4830;
    margin-bottom: 5px;
    border-radius: 2px;
    background: #12100E;
    opacity: 0.9;
}

.blogpost h2{
    margin:0;
    background: #22201F;
    padding-left: 10px;
    padding-bottom: 5px;
}

.blogpost p{
    padding:  0 10px 10px 10px;
}

.blogpost a{
    text-decoration: none;
    color: #FFA12C;
    font-size: 16px;
}

.info{
    margin-left: 10px;
    font-size: 10px;
}


.bread{
    text-decoration: none;
    color: #ccc;
}

.bread:hover{ color: #eee;}

.infodiv{
    background: black;
    border: 1px solid #555;
    border-radius: 3px;
    padding: 5px;
    margin-top: 2px;
    font-size: 18px;
    font-weight: 300;
    color: #CED8D4;
   
}
.infolabel{
    margin-bottom: 0px;
     padding-left: 2px;
}
#profileinfo{
    min-height: 700px;
}

.editprofilediv{
    padding:20px;
    min-height: 800px;
}

.eidtprofileinput{
    background: #f3f3f3;
    border: 1px solid #eee;
    border-radius: 2px;
    padding: 5px;
    margin-top: 2px;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    width: 100%;
   
}




