/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-jan-07, 18:12:44
    Author     : urbvik
*/

html, body{
  height:100%;
}

#wrapper{height: 110%;}
#main{ height: 75%; overflow: hidden;}

.categories{
    border: 1px solid #aaa;
    background: rgba(43, 47, 49, 0.52);
    border-radius: 3px;
    width: 18%;
    height: 93.5%;
    padding: 10px;
    position: absolute;
}

.categories a{ display: block; margin-bottom: 2px;}

.start{
    width: 79.5%;
    height: 100%;
    margin-left: 21%;
}

.cols2{
    display: inline-block;
    width: 47.45%;
    height: 200px;
    padding:10px;
    padding-bottom: 30px;
    text-align: center;
    margin-left: 10px;
    border: 1px solid #5B4830;
    border-radius: 2px;
    background: rgba(43, 47, 49, 0.2);
}

.newFilms{
    margin:10px;
    padding:10px;
    border: 1px solid #5B4830;
    border-radius: 2px;
    text-align: center;
    background: rgba(43, 47, 49, 0.2);
}
.heading{
    font-size: 20px;
    margin-bottom: 15px;
    text-align: left;
}
.cols3{
    display: inline-block;
    width: 30%;
    margin-left: 10px;
    text-align: center;
    height: 180px;
    padding-top: 10px;
}



.latestBlogs{
    padding:10px;
    border: 1px solid #5B4830;
    border-radius: 2px;
    margin:10px;
}

.blogpost p{ margin: 10px 3px;}


.cols2 a{text-decoration:none; color:#888;}
.cols2 a:hover{color: #ccc;}
.cols3 a{text-decoration:none; color:#888;}
.cols3 a:hover{color: #ccc;}